- page 'Welcome to Kebab Project', 'welcome'

.welcome
  %h1 Kebab Project
  %h2 Agile toolbox for web developers
  %p.doc
    = link_to 'Go to GitHub organization page', 'http://github.com/kebab-project'
  / .doc
/ .welcome